/* CONTENEDOR DE LA PELICULA */
.card {
  position: relative;
}

.card:hover {
  .poster {
    transform: scale(104%);
    transition: 0.3s;
    cursor: pointer;
  }
  .rating{
    transform: scale(104%);
    transition: 0.3s;
    bottom: 93%;
    left: 87%;
  }
}

/* IMAGEN POSTES DE LA PELICULA */
.poster {
  border-radius: 5%;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

/* CONTENEDOR DEL RATING */
.rating {
  position: absolute;
  z-index: 9;
  width: 2rem;
  height: 2rem;
  bottom: 90%;
  left: 85%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0rem 0rem 0.3rem black;
  font-size: small;
  transition: 0.5s;
}

/* PORCENTAJE DEL RATING */
.percent{
  color: black;
  font-weight: bold;
}

/* CLASIFICACION */
.good{
  border: solid green;
}

.regular{
  border: solid yellow;
}

.bad{
  border: solid red;
}