.containerOptions {
  position: fixed;
  z-index: 10;
  right: 3%;
  bottom: 3%;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.options {
  position: absolute;
  z-index: 10;
  right: 3%;
  bottom: 3%;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 3rem;
  background-color: #0b91b3;
  border: none;
  box-shadow: 0rem 0rem 1rem black;
  transition: 0.5s;
  cursor: pointer;
}

.seeLater {
  position: absolute;
  z-index: 0;
  width: 1rem;
  height: 2.5rem;
  top: 18%;
  right: 50%;
  font-size: 0;
  text-align: start;
  border-radius: 100%;
  padding-left: 10px;
  margin: 0;
  background-color: red;
  color: white;
  border: none;
  box-shadow: 0rem 0.5rem 0.8rem rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.optionsOpen {
  transform: rotate(135deg);
  background-color: gray;
}
.seeLaterCollapsed {
  width: 9.5rem;
  height: 2.5rem;
  top: 18%;
  border-radius: 25px 25px;
  font-size: large;
  cursor: pointer;
}
